<% @messages.each do |message| %>
<div class="message">
  <div class="avatar"><%= link_to image_tag("/images/icons/default-avatar-60.png", :width => 30, :height => 30), "#" %></div>
  <div class="body">
    <%= message.body %>
  </div>
  <div class="meta">
    <span class="date"><%= link_to "00:00AM", "#" %> - </span>
    <span class="username"><%= link_to message.user.username, "#" %></span>
  </div>
  <div class="clear"></div>
</div
<% end %>


