<div id="messages">
<% @messages.each do |message| %>
<div class="message">
  <div class="avatar"><%= gravatar_tag message.user, :size => 30, :rating => :g, :html => { :class => "gravatar" } %></div>
  <div class="body">
    <%= message.body %>
  </div>
  <div class="meta">
    <span class="date"><%= link_to "00:00AM", "#" %> - </span>
    <span class="username"><%= link_to message.user.username, "#" %></span>
  </div>
  <div class="clear"></div>
</div
<% end %>
</div>

