<h1>Listing public convos</h1>

<table>

<% @convos.each do |convo| %>
  <tr>
    <td><%= link_to convo.title, convo_path(convo) %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @convos %>

<br />

<%= link_to 'New Convo', new_convo_path %>
