<div class="highlight_box item5">
	<%if current_user%>
	news:
	<div id="updated_subscriptions">loading  updates...</div>
	recent:
	<div id="visited_convos">loading visited convos...</div>
	<%end%>
</div>
