<%if current_user%>
  <div class="highlight_box item5">
  	news:
  	<div id="updated_subscriptions">loading  updates...</div>
  </div>

  <div class="highlight_box item5">
  	recent:
  	<div id="visited_convos">loading visited convos...</div>
  </div>
<%end%>
