/* font sizes */

h1 {font-size:160%;}
h2 {font-size:130%;}
h3 {font-size:110%;}
.layout {
  height: 100%;
  width:970px;
  margin:0 auto;
}
.small {font-size:80%}
.mute {color:#666;}
.center, .east, .west {
  display: inline-block;
}
.center {overflow:hidden;}
.box_content {overflow:auto;}
.box_content_round {overflow:auto;}

.center .wrapper {padding:0 5px 0 0;}
.east {
  width: 392px;
  width: 300px;
}

.north {
  padding-top:0px;
  margin-bottom:0px;
}

#header {
  height:36px;
  background:#031625;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  /*
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5) ;
  */
}
.south {
  color:#666;
}

.box {
  /* margin-bottom:8px; */
  margin-left:4px;
  margin-right:0px;
  .box_header {
    background:#4E829A;
    color:#eee;
    padding:2px 4px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) ;
  }
  .warn {background:#0087e5;}
  .box_content {
    background:#fff;
    padding: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) ;
  }
  .box_content_round {
    background:#fff;
    padding: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) ;
  }
  .box_footer {
    background:#aaa;
    color:#fff;
    padding:2px 4px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) ;
  }

  /*
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5) ;
  */
}
#convo_header {
  background:#4E829A;
  color:#eee;
  padding:2px 4px;
  margin-bottom:0;
  height:20px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  .warn {background:#0087e5;}
}
#convo_content {
  background:#fff;
  padding: 5px;
  overflow:auto;
}
#convo_footer {
  background:#aaa;
  color:#fff;
  padding:2px 4px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
.clear {clear:both;}
#convo_settings {float:right;}
#main_nav {
  float:right;
  li {
    float:right;
    background:#353535;
    margin:4px 4px 0 0;
    height:28px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color:#fff;
    line-height:1.9em;
    padding:0px;
    font-size:110%;
    img {
      margin-top:4px;
    }
  }
  .red {
    background:#e94f35;
    a:link, a:visited {
      font-weight:bold;
      color:#031625;
      background:#F09D37;
    }
    a:hover, a:active {
      font-weight:bold;
      color:#031625;
      background:#E94F37;
    }
  }
  
  a:link, a:visited {
    text-decoration:none;
    color:#fff;
    display:block;
    background:#005A74;
    padding:0 5px;
    height:28px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  a:hover, a:active {
    text-decoration:none;
    color:#fff;
    display:block;
    background:#497F99;
    padding:0 5px;
    height:28px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  
}
#copy {
  color:#fff;
  padding:5px;
  background:#4E829A;
  background:#025977;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}

#splash_msg {
  margin-top:150px;
  text-align:center;
  font-size:400%;
  color:#84878a;
}
.hot {color:#ea5036;}

/*********/
/* links */
/*********/



/**********/
/* convos */
/**********/

#convos_table { 
  width:100%; 
  tr {
    border-bottom:1px dashed #ccc;
  }
  td {
    padding:10px 0;
  }
}

/************/
/* messages */
/************/
.convo {
  display: inline-block;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) ;
  .message {
    border-bottom: 1px dashed #CCCCCC;
    margin-bottom:8px;
    padding-bottom:8px;
    overflow:hidden;
    position:relative;
    .username { 
      font-size:80%; 
      a:link { color: #aa9c84; }
      a:visited { color: #aa9c84; }
      a:hover { color: #cc3333; }
      a:active { color: #cc3333; }
    }
    .avatar { float: left; }
    .date { 
      font-size:80%; 
      a:link { color: #aa9c84; }
      a:visited { color: #aa9c84; }
      a:hover { color: #cc3333; }
      a:active { color: #cc3333; }
    }
    .body {
      padding-left: 40px;
      padding-right: 8px;
      text-align:justify;
    }
    .meta { padding-left: 40px; margin-top:2px; }
  }
}


a.button-small-red {
  font-size:90%;
  background: #cc3333;
  color:#fff;
  text-decoration:none;
  padding:0 4px;
}
/* Note: Gecko uses non-compliant syntax! */
.borderradius {
  a.button-small-red {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
  }
  a.button-small-blue {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
  }
}

a.button-small-blue {
  font-size:90%;
  background: #4E829A;
  color:#eee;
  text-decoration:none;
  padding:0 4px;
}

.confidential #convo_header{
  background: #cc3333;
}
.box .box_header.admin { background: #cc3333; }
.highlight_box {
  background: #ffee80;
  padding: 5px;
}
.no-boxshadow .highlight_box {
  border-right:1px solid #ffcc00;
  border-bottom:1px solid #ffcc00;
}
.boxshadow .highlight_box {
  -webkit-box-shadow: rgba(255, 204, 0, 0.8) 1px 1px 1px;
  -moz-box-shadow: 1px 1px 1px rgba(255, 204, 0, 0.8) ;
}
.item5 { margin-bottom:5px; }
.hidden { display:none; }

#convo_menu a {
  color:#fff;
}